<% content_for :main_content do %>
  <div class="grid grid-cols-1 gap-4">
    <h1 class="text-2xl font-bold">New Transaction</h1>

    <%= form_with(model: [@bank_account, @bank_transaction], local: true, class: "form-control w-full max-w-lg", data: { controller: "navigate" }) do |form| %>
      <% if @bank_transaction.errors.any? %>
        <div id="error_explanation" class="alert alert-error shadow-lg flex flex-col">
          <h2 class="font-bold"><%= pluralize(@bank_transaction.errors.count, "Error") %> prohibited this bank_transaction from being saved:</h2>

          <ul class="list-disc">
            <% @bank_transaction.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-control mb-4">
        <%= form.label :transaction_type, class: "label" %>
        <%= form.select :transaction_type, BankTransaction.transaction_types.keys.reject {|w| w == "manager_visit"}.map { |w| [w.humanize, w] }, {}, 
                                                                                      class: "select select-bordered w-full",
                                                                                      data: { navigate_target: "transactionType", 
                                                                                      action: "change->navigate#to", required: true } %>
      </div>

      <div class="form-control mb-4" id="destination_account_id_field" data-navigate-target="destinationField" style="display: none;">
        <%= form.label :destination_account_id, class: "label" %>
        <%= form.text_field :destination_account_id, class: "input input-bordered w-full", value: ''  %>
      </div>

      <div class="form-control mb-4">
        <%= form.label :amount, class: "label" %>
        <%= form.number_field :amount, step: "0.01", class: "input input-bordered w-full", required: true %>
      </div>

      <div class="form-control mt-6">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
    
  </div>
<% end %>

<%= render 'templates/sidebar_template'  %>
