<div class="flex items-center justify-center min-h-screen flex-col">
  <h1 class="text-center text-2xl font-bold mb-4">New Bank Account</h1>
  <div class="card w-full max-w-md shadow-lg bg-base-200">
    <div class="card-body">
      <%= form_with(model: @bank_account, local: true, class: "space-y-4") do |form| %>
        <% if @bank_account.errors.any? %>
          <div id="error_explanation" class="text-red-500">
            <h2><%= pluralize(@bank_account.errors.count, "Error") %> prohibited this bank account from being saved:</h2>
            <ul>
              <% @bank_account.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-control">
          <%= form.label :name, class: "label" %>
          <%= form.text_field :name, class: "input input-bordered" %>
        </div>

        <div class="form-control">
          <%= form.label :pin, class: "label" %>
          <%= form.password_field :pin, class: "input input-bordered w-full" %>
        </div>

        <div class="form-control">
          <%= form.label :pin_confirmation, class: "label" %>
          <%= form.password_field :pin_confirmation, class: "input input-bordered w-full" %>
        </div>

        <div class="form-control mt-6">
          <%= form.submit 'Create Bank Account', class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="flex justify-center mt-4">
        <span>Already have an account?</span>
        <%= link_to "Login", new_session_path, class: "ml-2 text-blue-500" %>
      </div>
    </div>
  </div>
</div>