<%= content_for :main_content do %>
  <div class="overflow-x-auto mb-2">
    <table class="table table-lg w-full table-zebra">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Transaction type</th>
          <th>Source account</th>
          <th>Destination account</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= formatted_date(transaction.created_at) %></td>
            <td><%= formatted_time(transaction.created_at) %></td>
            <td><%= transaction.transaction_type.humanize %></td>
            <td><%= (transaction.source_account&.name) %></td>
            <td><%= (transaction.destination_account&.name) %></td>
            <td><%= money_tag(transaction.amount, transaction.transaction_type, current_account.transfer_receiver?(transaction)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<% end %>

<%= render 'templates/sidebar_template' %>